
html{
   height: 100%;
}
header{
	background-color:#6495ED/* #1E82FF*/;
	color: white;
	margin : 0px;
	text-align: center;
	font-size: 15pt;
	height: 30px;
}
header>a,header>a:link,header>a:visited{
   text-decoration: none;
   color: white;
}

body {
 	margin: 0px;
	background-image: url(HY_FLE.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	max-height: 100%;
	background-attachment: fixed;
	background-position: bottom;
	text-align:center;
}

section {
	padding: 20px;
	background-image: linear-gradient(to top, #dfe9f3 0%, white 100%);
	width: 400px;
	height: 400px;
	margin: 0 auto;
	margin-top: 100px;
	top: 50%;
	border: 5px solid black;
	border-radius: 22px;

}


h1 {
	font-family: 'Poiret One', cursive;
	font-size: 40px;
}

h2 {
}

.login {
	padding-top: 10px;
	padding-bottom: 10px;
	width: 396px;
	margin-bottom: 10px;
	transition: width 0.5s ease-out;

}
.login:focus {
	width: 410px;
}

form>p {
	text-align: left;
	margin-bottom: 20px;
}
form p a{
	text-decoration: none;
	color: red;
}

.button {
	font-size: 20px;
	font-family: 'Poiret One', cursive;
	width: 100%;
	padding-top: 15px;
	padding-bottom: 15px;
	margin-bottom: 10px;

}
footer{
	background-color: #6495ED/*#1E82FF;*/;
	color: white;
	position:fixed;
    left:0px;
    bottom:0px;
	width: 100%;
	height: 55px;
	text-align: center;
	font-size: 13pt;
}

footer span{
	color: yellow;
}
