html{
   height: 100%;
}
body{
   margin: 0px;
   height: 100%;
}

header{
   background-color:#6495ED/* #1E82FF*/;
   color: white;
   margin : 0px;
   text-align: center;
   font-size: 15pt;
   height: 30px;
}
header>a,header>a:link,header>a:visited{
   text-decoration: none;
   color: white;
}
#menu{
   float: right;
   margin: 0px;
   margin-top: -30px;
   padding: 0px;
   height: 30px;
   width: 100px;
   position: relative;
   z-index: 2;
}
#menu ul{
   margin:0px;
   padding: 0px;
   list-style-type: none;

}
#menu ul li{
   background-color: #1E90FF/*#0064FF*/;
   line-height: 30px;
   vertical-align: middle;
   text-align: center;
   color: white;
}
#submenu{
   height: 0px;
   overflow: hidden;
   transition: height .2s;
}
#submenu li{
   border-top: solid 1px black;
}
#menu>ul>li:hover #submenu{
   height: 123px; 
   position: relative;
   z-index: 2;
}
#submenu a{
   text-decoration: none;
   color: white;
}



main { 
   margin: 0px;
   height: 100%;
   background-image: url(HY_FLE.jpg);
   background-size: cover;
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-position: bottom;
}

main>h1{
   margin:0px;
   text-align: center;
}

@media (min-width: 1050px){
   article {
      margin-top: 0px;
      background-image: linear-gradient(to top, #dfe9f3 0%, white 100%);
      border-radius: 22px;
      width: 1050px;
      height: 90%;
      margin: auto;
      padding: 0px;
      overflow-y: scroll;
   }
   ::-webkit-scrollbar { 
       display: none; 
   }  
   section{
      width: 900px;
      margin: auto;/*
      border-left: 1px solid #e1e1e1;
      border-right: 1px solid #e1e1e1;*/
   }
} 
@media (min-width: 0px) and (max-width: 1050px){
   article {
      margin-top: 0px;
      background-image: linear-gradient(to top, #dfe9f3 0%, white 100%);
      border-radius: 22px;
      width: 750px;
      height: 90%;
      margin: auto;
      padding: 0px;
      overflow-y: scroll;
   }
   ::-webkit-scrollbar { 
       display: none; 
   }  
   section{
      width: 600px;
      margin: auto;/*
      border-left: 1px solid #e1e1e1;
      border-right: 1px solid #e1e1e1;*/
   }
}
form{
  padding-top: 2px;
}
.login {
   padding-top: 10px;
   padding-bottom: 10px;
   width: 300px;
   margin-bottom: 15px;
   transition: width 0.5s ease-out;

}

.password {
   padding-top: 10px;
   padding-bottom: 10px;
   width: 150px;
   margin-bottom: 15px;
   transition: width 0.5s ease-out;

}

.student_id {
   padding-top: 10px;
   padding-bottom: 10px;
   width: 150px;
   margin-top: 15px;
   margin-bottom: 15px;
   transition: width 0.5s ease-out;

}

.email{
   padding-top: 10px;
   padding-bottom: 10px;
   width: 100px;
   margin-bottom: 10px;
   transition: width 0.5s ease-out;

}

.email_confirm{
   padding-top: 10px;
   padding-bottom: 10px;
   width: 50px;
   margin-bottom: 10px;
   transition: width 0.5s ease-out;

}


.button {
   font-size: 20px;
   font-family: 'Poiret One', cursive;
   width: 200px;
   padding-top: 15px;
   padding-bottom: 15px;
   margin-bottom: 10px;

}
#boardtitle{
  border-top: 1px solid gray;
}
.fixedtext1{
   display: inline-block;
   width: 150px;
}

.fixedtext2 {
   display: inline-block;
   width: 150px;
   text-align: center;
}
pre{
  margin: 0px;
  padding: 0px;
  font-size: 12pt;
}


div{
   vertical-align: left;
}
.textbox{
   border-bottom: solid;
   border-left: solid;
   border-right: solid;
   border-width: 1px;
   padding: 5px;
   border-color: gray;
}

.floatR{
   float: right;
}

.my_button {
  display: inline-block;
  width: 200px;
  text-align: center;
  padding: 10px;
  background-color: #006BCC;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
}
#imgsize{
  width: 100%;
}
footer{
   background-color: #6495ED/*#1E82FF;*/;
   color: white;
   position:fixed;
    left:0px;
    bottom:0px;
   width: 100%;
   height: 55px;
   text-align: center;
   font-size: 13pt;
}
footer span{
   color: yellow;
}
